body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #404040;

}
h1::before {
    content: 'Code';
    color: #FFFFFF;
    display: inline-block;
    font-size: 3rem;
}

h1::after {
    content: 'Hub';
    background-color: #e0721d;
    padding: 7px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 20px;
    font-size: 3rem;
    margin-left: 4px;
}